.leaflet-container {
  width: 95%;
  height: 95%;
  background-color: rgb(147, 183, 219);
  margin: auto;
}

.leaflet-control-attribution {
  display: none
}

.leaflet-tooltip {
  z-index: 1000;
  padding: 13px 3px 3px 3px !important;
}

.leaflet-popup-content {
  margin: 3px 3px 3px 3px !important;
}

.leaflet-circle-popup .leaflet-popup-close-button {
  display: none;
}

.custom-tooltip {
  pointer-events: auto;
  background: white;
  color: #333;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  /* opacity: 1.0 !important; */
  padding: 12px;
  text-align: left;
  border-radius: 12px;
  /* ツールチップ内の要素にクリックイベントを許可 */
}



.close-button {
  position: absolute;
  top: -3px;
  right: -1px;
  background: none;
  border: none;
  color: #757575;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000;
  /* ボタンが他の要素より前面に表示されるように */
  pointer-events: auto;
  /* ボタンにクリックイベントを許可 */
}


.small-table td {
  /* セル内の余白を小さくする */
  font-size: 10px;
  /* フォントサイズを小さくする */
  line-height: 1.2;
  /* 行間を縮小する */
}

.small-table tr {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}